/*body styling*/

body {background-color: #A2A9B2;
	border-style: solid;
	border-color: #DCDCDC;
	border-radius: 50px;
    padding: 20px; 
	font-family: Verdana;
	margin: 5px;
	/* maybe?  background-image: url("/Users/KyleRattet/Documents/profile_project/Assets/backgroundtexture.jpg")*/

	}

/*header styling*/

header {height: 8em;
	}

nav {text-align: center;
	font-style: italic;
	}

/*h1 styling*/

h1 {text-align: center;
	color: #28384B;
	}

h2,h3 { color: #28384B;}

@keyframes header{
	from {background-color: #A2A9B2;)}
	to {background-color: #DCDCDC;}
}
.header {
	border-radius: 20px;
    background-color: #A2A9B2;
    animation-name: header;
    animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	}


.categories {
	font-size: 15px;
	color: #405165;

}



.listborder {border: 1px solid;
	border-radius: 6px;
	margin: 1%;

}







